
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* parte da yasmin*/

header{
    font-size: 4px;
}

.contato, .idioma{
    display: flex;
    padding: 1vw;
}


.cabectext{
    color: #666666;
    font-family: Poppins;
    font-size: 3em;
}



#lista{
    width: 80px;
    background-color: transparent;
    border-style: solid;
    border-radius: 12px;
}

.cabecalho1{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: #ecf3fc;
    align-content: baseline;
    align-items: center;


    
}
.cabecalho2{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: #b82929;
    align-content: baseline;
    align-items: center;

    
    
}
.email, .logotipo, .order{
    display: flex;
    background-color: aqua;
    padding: 1vw;
   
}



button{
    background-color: #183661;
    color: #ffffff;
    border-color: #183661;
    border-style: solid;
    border-width: 5px;
    border-radius: 12px;
}


@media(width <= 420){

}


/* parte do kawa*/

footer{

    display: flex;
    background-color: #183661;
    font-family: "Poppins", sans-serif;
    padding: 5vw;
    justify-content: space-between;
}
.titulo{
    font-size: 15px;
    color: #ffffff;
    margin: 5%;
}

.paragrago{
    font-size: 15px;
    color: #ffffff;
    margin: 5%;
}
#direitos{
    text-align: center;
    color: #141414;
    background-color: white;
    padding: 2%;

}

@media(width <= 720px){
    footer{
        display: flex;
        flex-direction: column;
    }
}

/* parte do greg*/
#Banner1{
    #pdf{
        background-image: "img/bannerjpg";
        
    }
    }
    
    #h1{
        font-family:[];
    }
    .pano_fundo{
        display: flex;
        background-image: url(img/banner.jpg);
        justify-content: space-between;
        padding-top: 5%;
    

    }
    #ban{
        max-width: 30%;
        align-items: baseline;


    }
    .textons{
    margin-right: 10%;
    }
    #txtao{
        color: #f2c119;
        font-family: "Poppins", sans-serif;
        margin-left: 5vw;
        font-size: 8vw;
    }
    
   