
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* parte da yasmin*/

header{
    font-size: 4px;
}

.contato, .idioma, .redes_sociais{
    display: flex;
    padding: 0.5%;

}


.cabectext{
    color: #666666;
    font-family: Poppins;
    font-size: 3em;
}



#lista{
    width: 80px;
    background-color: transparent;
    border-style: solid;
    border-radius: 12px;
}

.cabecalho1{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: #ecf3fc;
    align-content: baseline;
    align-items: center;
    padding: 1em;


    
}
.cabecalho2{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: #ffffff;
    align-items: center;
    padding: 1em;
    
    
}
.side-nav{
    display: none;
}
.email, .logotipo, .order{
    display: flex;

    padding: 1%;
}


.categorias{
    display: flex;
    justify-content: space-between;
    background-color: #183661;
}
.home:hover, .about:hover, .products:hover, .fashion:hover, .news:hover, .contact-us:hover{
    background-color: #f2c119;
}

button{
    background-color: #183661;
    color: #ffffff;
    border-color: #183661;
    border-style: solid;
    border-width: 5px;
    border-radius: 12px;
}


@media(width <= 420){

}


/* parte do kawa*/

footer{

    display: flex;
    background-color: #183661;
    font-family: "Poppins", sans-serif;
    padding: 5vw;
    justify-content: space-between;
}
.titulo{
    font-size: 15px;
    color: #ffffff;
    margin: 5%;
}

.paragrago{
    font-size: 15px;
    color: #ffffff;
    margin: 5%;
}
#direitos{
    text-align: center;
    color: #141414;
    background-color: white;
    padding: 2%;

}

@media(width <= 720px){
    footer{
        display: flex;
        flex-direction: column;
    }
    .side-nav{
        display: unset;
    }
    .cabecalho1{
        display: none;
    }
    .cabecalho2{
        justify-content: space-between;
    }
    .email, .order{
        display: none;
    }
    
}

/* parte do greg*/
    
    .pano_fundo{
        display: flex;
        background-image: url(img/banner.jpg);
        padding-top: 5%;
    

    }
    #ban{
        max-width: 30%;
        align-items: baseline;


    }
    .textons{
    margin-right: 10%;
    }
    #txtao{
        color: #f2c119;
        font-family: "Poppins", sans-serif;
        margin-left: 5vw;
        font-size: 8vw;
    }
    #MENOR{
        font-family: "Poppins", sans-serif;
        color: #183661;
        margin-left: 5vw;
        font-size: 5vw;
    }
    #menor_menor{
        font-family: "Poppins", sans-serif;
        margin-left: 5vw;
        font-size: 2vw;
    }
    #bu{
        font-family: "Poppins", sans-serif;
        margin-left: 5vw;
        padding-left: 7%;
        padding-right: 7%;
        padding-top: 2%;
        padding-bottom: 2%;
        border-radius: 50px;
        margin-top: 3vw;
        background-color: #1d37fd;
        border: none;
        font-size: 100%;
        

    }   

    @media(width <= 720px){
        .pano_fundo{
            display: flex;
            flex-direction: column;
        }
        #txtao{
            font-size: 13vw;
            padding: 0vw;
            margin: 1vw;
        }
        #MENOR{
            margin: 1vw;
            padding: 0vw;
            font-size: 10vw;
        }
        #menor_menor{
            margin: 1vw;
            font-size: 5vw;
            margin-bottom: 5vw;
        }
        #ban{
            max-width: 100%;
        }
    }
    #imagem_da_muie{
        max-width: 100%;
    }

   /*PARTE DO ZÉ*/
   @media(width <= 720px){
    #mpa{
        display: flex;
        flex-direction: column;
    }
   }

   #mpa{
    justify-content: center;
    display:flex;
    flex-direction: row;
    font-family: "Poppins", sans-serif;
    
}
    #pa1{
        background-color: #F2C119;
        width: 225px;
        height: 225px;
        align-content: center;
        text-align: center;
    }
        #pa2{
            background-color: #183661;
            width: 225px;
            height: 225px;
            align-content: center;
            text-align: center;
            
        }
            #pa3{
                background-color: #F2C119;
                width: 225px;
                height: 225px;
                align-content: center;
                text-align: center;
                
            }
                #pa4{
                    background-color: #183661;
                    width: 225px;
                    height: 225px;
                    align-content: center;
                    text-align: center;
                    
                }
                    #pa5{
                        background-color: #F2C119;
                        width: 225px;
                        height: 225px;
                        align-content: center;
                        text-align: center;
                        
                    }
                        #pa6{
                            background-color: #183661;
                            width: 225px;
                            height: 225px;
                            align-content: center;
                            text-align: center;
                            
.titulo{
    color:white;
}
                        }